RewriteEngine On

RewriteRule .* index.php [QSA,E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

RewriteBase /~user4/php7/booker/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ index.php


 #RewriteCond %{HTTP:Authorization} ^(.*)
 #RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

 DirectorySlash Off
<Limit GET POST>
  order deny,allow
  deny from all
  allow from all
  </Limit>
  <Limit PUT DELETE>
  order deny,allow
  deny from all
  allow from all
  </Limit>
