<?xml version="1.0" encoding="UTF-8" ?>
<phpunit  colors="true">
    <php>
        <var name="DB_DSN" value="mysql:dbname=user4;host=localhost" />
        <var name="DB_USER" value="user4" />
        <var name="DB_PASSWD" value="user4" />
        <var name="DB_DBNAME" value="user4" />
    </php>
</phpunit>